body{
  background-color:skyblue !important;
}
.App{
  margin-left: 200px;
  margin-top: 50px;
  margin-right: 200px;
  background-color: white;
  padding: 10px 100px 10px 100px !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.auth{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
span{
  font-weight: bold;
  padding-right: 10px
}
.card{
  padding-bottom: 20px;
  margin-top: 20px;
  border-bottom: solid rgb(196, 194, 194) 1px;
  margin-bottom: 20px;
  
}
.card div{
  text-align: center;
}
img{
width: 500px;
padding-top:10px;
padding-bottom: 20px
}
